.maincontainer {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
}

.container {
  position: relative;
  background-color: var(--primary-color-white);

  width: 1440px;
  min-width: 256px;
  background: url(../../img/image.png) no-repeat;
  background-size: calc(699px + (0 - 0) * ((100vw - 320px) / (1440 - 320))) 100%;
  background-position: right bottom;
}

.background {
  background-color: var(--primary-color-blue);
  border-radius: 30px;
}

.header {
  height: 88px;
  padding: 20px calc(40px + (128 - 40) * ((100vw - 320px) / (1440 - 320)));
  border-bottom: var(--border-color-white);
  margin: 0 auto;
}

@media only screen and (min-width: 1441px) {
  .header {
    padding: 20px 128px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  color: var(--primary-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-right: 20px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px 92px;
  flex-wrap: wrap;
}

.wrapLinks {
  display: flex;
  gap: 40px;
}

.link {
  position: relative;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
}

.link[aria-current="page"]::after {
  position: absolute;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  left: 50%;
  bottom: -16px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapButtons {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.btnLogin {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  max-width: 124px;
  height: 48px;
  padding: 14px 40px;
  border-radius: 30px;
  transition: background-color border 0.3s easy;
}

.btnLogin:hover {
  background-color: var(--secondary-color-white);
  border: transparent;
  color: var(--primary-color-blue);
}

.btnRegistration {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: var(--primary-color-blue);
  border: none;
  max-width: 168px;
  height: 48px;
  padding: 14px 40px;
  border-radius: 30px;
  transition: color background-color 0.3 easy;
}

.btnRegistration:hover {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-white);
}

.wrapTitles {
  max-width: 613px;
  min-width: 256px;
  padding-top: 163px;
  padding-bottom: 163px;
  padding-left: calc(20px + (96 - 20) * ((100vw - 320px) / (1440 - 320)));
  padding-right: calc(20px + (0 - 20) * ((100vw - 320px) / (1440 - 320)));
}

@media only screen and (min-width: 1441px) {
  .wrapTitles {
    padding: 163px 0 163px 96px;
  }
}

.title {
  color: var(--secondary-color-white);
  font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;

  padding-bottom: 28px;
}

@media only screen and (min-width: 1441px) {
  .title {
    font-size: 70px;
  }
}

.subtitle {
  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1440 - 320)));
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: 1.07;
  letter-spacing: -0.02em;
  color: var(--secondary-color-white);
  padding-bottom: 64px;
}

@media only screen and (min-width: 1441px) {
  .subtitle {
    font-size: 28px;
  }
}

.linkGet {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);

  max-width: 231px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid var(--border-color-white);
}

.arrow {
  transform: rotate(53deg);
  transition: rotate 0.3s;
}

.linkGet:hover .arrow {
  transform: rotate(90deg);
}

.block {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 16px;
  right: calc(10px + (50 - 10) * ((100vw - 320px) / (1440 - 320)));
  bottom: calc(15px + (50 - 15) * ((100vw - 320px) / (1440 - 320)));
  max-width: 284px;
  height: 118px;
  padding: calc(10px + (32 - 10) * ((100vw - 320px) / (1440 - 320)));

  border-radius: 20px;
  background-color: var(--secondary-color-white);
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: var(--primary-color-blue);
}

.check {
  width: 20px;
  height: 15px;
}

.blockTitle {
  line-height: 1.19;
  color: #11101c80;
  margin-bottom: 6px;
}

.blockText {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.21;
  color: #11101c;
}
