.maincontainer {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;

  width: 1440px;

  background: url(../../img/image.png) no-repeat;
  background-size: contain;
  background-position: 677px 0;
  background-size: 51%;
}

.background {
  background-color: var(--primary-color-blue);
  margin: 32px;
  border-radius: 30px;
}

.header {
  height: 88px;
  padding: 20px 128px;
  border-bottom: var(--border-color-white);
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--primary-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-right: 20px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 92px;
}

.wrapLinks {
  display: flex;
  gap: 40px;
}

.home,
.nannies {
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
}

.wrapButtons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btnLogin {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  width: 124px;
  height: 48px;
  padding: 14px 39px;
  border-radius: 30px;
  transition: background-color border 0.3s easy;
}

.btnLogin:hover {
  background-color: var(--primary-color-blue);
  border: transparent;
}

.btnRegistration {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: var(--primary-color-blue);
  border: none;
  width: 168px;
  height: 48px;
  padding: 14px 40px;
  border-radius: 30px;
  transition: color background-color 0.3 easy;
}

.btnRegistration:hover {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-white);
}

.wrapTitles {
  width: calc(517px + 96px);
  padding-top: 96px;
  padding-bottom: 163px;
  padding-left: 96px;
}

.title {
  color: var(--secondary-color-white);
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;

  padding-bottom: 28px;
}

.subtitle {
  font-size: 28px;
  line-height: 1.07;
  letter-spacing: -0.02em;
  color: var(--secondary-color-white);
  padding-bottom: 64px;
}

.linkGet {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);

  width: 231px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid var(--border-color-white);
}

.arrow {
  transform: rotate(53deg);
  transition: rotate 0.3s;
}

.linkGet:hover .arrow {
  transform: rotate(90deg);
}

.block {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 16px;
  right: 50px;
  bottom: 50px;
  width: 284px;
  height: 118px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--secondary-color-white);
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: var(--primary-color-blue);
}

.check {
  width: 20px;
  height: 15px;
}

.blockTitle {
  line-height: 1.19;
  color: #11101c80;
  margin-bottom: 6px;
}

.blockText {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.21;
  color: #11101c;
}