.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--primary-color-blue);
}

.container {
  min-height: 88px;
  max-width: 1440px;
  padding: 20px calc(25px + (128 - 25) * ((100vw - 320px) / (1440 - 320)));
  margin: 0 auto;
}

@media only screen and (min-width: 1441px) {
  .container {
    padding: 20px 128px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  color: var(--primary-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17 px;
  letter-spacing: -0.02em;
}

.wraplistSpace {
  display: flex;
}

.wraplist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 92px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  gap: 40px;
}

.link {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
}

.link[aria-current="page"]::after {
  position: absolute;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  left: 50%;
  bottom: -16px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapButtonsLogout {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.userWrap {
  display: flex;
  gap: 14px;
  align-items: center;
}

.userName {
  color: var(--primary-color-white);
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -1%;
}

.btnLogout {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  width: 134px;
  height: 48px;
  border-radius: 30px;
  transition: background-color border 0.3s easy;
}

.btnLogout:hover {
  background-color: var(--secondary-color-white);
  color: var(--primary-color-blue);
}

.wrapButtonsLogin {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.wrapButtonsLogin li {
  list-style-type: none;
}

.btnLogin {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  max-width: 124px;
  height: 48px;
  padding: 14px calc(32px + (39 - 32) * ((100vw - 320px) / (1440 - 320)));
  border-radius: 30px;
  transition: background-color border 0.3s easy;
  outline: none;
}

@media only screen and (min-width: 1440px) {
  .btnLogin {
    padding: 14px 39px;
  }
}

.btnLogin:hover {
  background-color: var(--secondary-color-white);
  border: transparent;
  color: var(--primary-color-blue);
}

.btnRegistration {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: var(--primary-color-blue);
  border: 1px solid var(--border-color-white);
  max-width: 168px;
  height: 48px;
  padding: 14px calc(32px + (40 - 32) * ((100vw - 320px) / (1440 - 320)));
  border-radius: 30px;
  transition: color background-color 0.3 easy;
}

@media only screen and (min-width: 1440px) {
  .btnRegistration {
    padding: 14px 40px;
  }
}

.btnRegistration:hover {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-white);
}
