.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--primary-color-blue);
}

.container {
  height: 88px;
  width: 1440px;
  padding: 20px 128px;
  margin: 0 auto;
  border: 1px solid red;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--primary-color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17 px;
  letter-spacing: -0.02em;
}

.wraplist {
  display: flex;
  gap: 92px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  gap: 40px;
}


.link {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
}

.link[aria-current="page"]::after {
  position: absolute;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  left: 50%;
  bottom: -16px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapButtonsLogout {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btnLogout {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  width: 134px;
  height: 48px;
  border-radius: 30px;
  transition: background-color border 0.3s easy;
}

.btnLogout:hover {
  background-color: var(--secondary-color-white);
  color: var(--primary-color-blue);
}

.wrapButtonsLogin {
  display: flex;
  gap: 8px;
  align-items: center;
}

.wrapButtonsLogin li {
  list-style-type: none;
}

.btnLogin {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: transparent;
  border: 1px solid var(--border-color-white);
  width: 124px;
  height: 48px;
  padding: 14px 39px;
  border-radius: 30px;
  transition: background-color border 0.3s easy;
}

.btnLogin:hover {
  background-color: var(--primary-color-blue);
  border: transparent;
}

.btnRegistration {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--secondary-color-white);
  background-color: var(--primary-color-blue);
  border: none;
  width: 168px;
  height: 48px;
  padding: 14px 40px;
  border-radius: 30px;
  transition: color background-color 0.3 easy;
}

.btnRegistration:hover {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-white);
}